.map {
    height: 500px;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 16px;
    box-shadow: 0 0 8px -4px rgba($color: #000000, $alpha: 0.5);

    .leaflet-container {
        height: 100%;
        overflow: hidden;
    }

    .info-container {
        width: 120px;
    }
    .info-name {
        font-size: 18px;
        font-weight: bold;
        color: #555555;
    }
    .info-flag {
        height: 80px;
        width: 100%;
        background-size: cover;
        border-radius: 8px;

        img {
            width: 60px;
            border-radius: 5px;
        }
    }
    .info-confirmed,
    .info-recovered,
    .info-deaths {
        font-size: 13px;
        margin-top: 5px;
    }
}
